# ignore tout sauf .vb
EtudeEvenement/*.*
EtudeEvenement/EtudeEvenement/bin
EtudeEvenement/EtudeEvenement/My\ Project
EtudeEvenement/EtudeEvenement/obj
EtudeEvenement/EtudeEvenement/EtudeEvenement.vbproj
EtudeEvenement/EtudeEvenement/Ruban.resx
EtudeEvenement/EtudeEvenement/ThisAddIn.Designer.xml

EtudeEvenement\EtudeEvenement\bin\Debug\EtudeEvenement.ddl.manifest
