# ignore tout sauf .vb
/EventStudy/*.*
/EventStudy/EventStudy/bin
/EventStudy/EventStudy/My\ Project
/EventStudy/EventStudy/obj
/EventStudy/EventStudy/EventStudy.vbproj
/EventStudy/EventStudy/Ruban.resx
/EventStudy/EventStudy/ThisAddIn.Designer.xml
/EventStudy/EventStudy/UserControl1.resx
/EventStudy/EventStudy/UserControl2.resx